VITE_API_URL=http://127.0.0.1:8001
VITE_API_SCOPE=api://456cc109-08d7-4c11-bf2e-a7b26660f99e/AcidWatch.User
VITE_CLIENT_ID=49385006-e775-4109-9635-2f1a2bdc8ea8
VITE_TENANT_ID=3aa4a235-b6e2-48d5-9195-7fcf05b459b0 
VITE_APPINSIGHTS_CONNECTIONSTRING=<not needed for local development>
VITE_BACKEND_CLIENT_ID=456cc109-08d7-4c11-bf2e-a7b26660f99e
VITE_BACKEND_CLIENT_SECRET=<secret for acidwatch_backend_dev, get from azure portal
