name: FastAPI backend with SQLite

permissions: {}

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v4
      with:
        sparse-checkout: backend

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install backend
      run: |
        pipx install poetry
        poetry sync

    - name: Run ruff
      run: |
        poetry run ruff format --check
        poetry run ruff check

    - name: Run mypy
      run: |
        poetry run mypy --strict src

    - name: Run pytest
      run: |
        cp .env.example .env
        poetry run pytest tests
